:root {
    --bg-dark: #333;
    --bg-medium: #4D4D4D;
    --bg-light: #555;
    --fg-regular: #EEEEEE;
    --fg-special: #00B295;
}

@font-face {
    font-family: dos-font;
    src: url(more-perfect-dos-vga.ttf);  /* Zeh Fernando https://laemeur.sdf.org/fonts/ */
}

* {
    box-sizing: border-box;
    font-family: dos-font;
    color: var(--fg-regular);
}

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    height: 100vh;
    margin: 0;
    padding: 1%;

    background-color: var(--bg-dark);
}

button, textarea, input {
    background-color: var(--bg-light);
    border: none;
    margin-top: 0.5vh;
    padding: 1vh;
    transition: background-color 0.2s;
    outline: none;
}

button:hover, textarea:hover, body textarea:focus {
    background-color: var(--bg-medium);
}

button {
    font-size: 1em;
    width: 50%;
}

#input-textarea {
    resize: vertical;
    width: 100%;
    min-height: 20%;
    max-height: 70%;
}

#output-textarea {
    resize: none;
    width: 100%;
    flex: 1 1 auto;
}